/*
  postaraj się nie zmieniać HTML, masz tutaj wypisane wszystkie selektory jakie wykorzystałem do stworzenia tego układu (więc nie potrzebujesz klas ani identyfikatorów), nie zmieniaj też pliku main.css

  main - 70%
  main section: 70%
  aside (obydwa)- 30%
  ul w head 50%

  kilka (całkiem sporo elementów na stronie ma zmieniony kierunek wyświetlania na column - ZMIENIANA JEST OŚ GŁÓWNA tych elementów!!!

  section w bocznym aside wypełnia całą dostępną wysokość/szerokość??

  druga sekcja w głównej stopce rośnie 7x szybciej a pierwsz 2x szybciej (powinieneś ustawić dla wszystkich sekcji odpowiednio małą szerokość w %)
  sekcje w stopce głównej dokumentu zamienione są miejscami
*/

.container {
  display: flex;
  flex-wrap: wrap;

}
.container > header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;

}
.container > nav {
  display: flex;
  flex-basis: 100%;
  align-content: flex-end;
  justify-content: flex-end;
}
nav ul {
  height: 70%;
  flex-basis: 50%;
  display: flex;
  border: 1px solid #fff;
  justify-content: space-around;
  align-items: flex-start;
}
main {
  display: flex;
  flex-basis: 70%;
  flex-direction: row-reverse;
  flex-wrap: wrap;

}
main section {
    border: 1px solid hsl(222, 50%, 30%);
    display: flex;
    flex-grow: 1;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
main section article {
  display: flex;
  flex-direction: column;
  width: 45%;

 
}

main aside {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(222, 50%, 70%);
  flex-basis: 30%;  

}
.container > aside {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 30%;

}
aside section {
  border: 1px solid hsl(222, 50%, 40%);
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  justify-content: space-around;
}
aside ul {
  display: block;
  flex-direction: column;
  flex-grow: 1;  
}
.container > footer {
  display: flex;
  flex-basis: 100%;
  height: 50%;
}
footer section {
  border: 1px solid hsl(222, 50%, 70%);
  align-items: center;
  
}

footer section:nth-of-type(2) {
  order: 1;
  text-align: center;
  width: 50%;
  flex-wrap: wrap;
  flex-grow: 2;

}
footer section:nth-of-type(1) {
  text-align: center;
  display: flex;
  order: 2;
  flex-grow: 1;
  width: 30%;

}
footer section:nth-of-type(3) {
  order: -1;
  flex-grow: 7;
  text-align: center;
  width: 20%;
  flex-wrap: wrap;
}